[Unit]
Description=Watering System Flask App
After=network.target

[Service]

ExecStart=/home/admin/wateringsystem/.venv/bin/python /home/admin/wateringsystem/web/main.py
WorkingDirectory=/home/wateringsystem/web
User=admin
Restart=always
Environment="PYTHONUNBUFFERED=1"

[Install]
WantedBy=multi-user.target
